<table class="small">
{% for date,games in playtime %}
<tr>
	<td class="day">
		{{formatDay(date)}}
	</td>
	{% for app in games %}
	<td class="playtime">
		<img src="{{app.icon}}"/> {{formatTime(app.time)}}
	</td>
	{% else %}
	<td class="dimmed">{{"NO_PLAYTIME" | translate }}</td>
	{% endfor %}
</tr>
{% endfor %}
</table>
<span class="xsmall">{{tracking}}</span>